@font-face {
	font-family: 'gsans';
	src: url('./fonts/Google-Sans-VF.woff2') format('woff2-variations');
	font-weight: normal;
	font-weight: 200 900;
}
body {
	font-family: gsans;
	font-size: 24px;
	padding: 40px;
}
main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

form, aside {
	flex-grow: 1;
}
* {
	font-family: inherit;
}
aside {
 display: grid;
 place-content: center;
}
.separator {
	min-height: 90%;
	width: 1px;
	background-color: #e9e9e9;
	align-self: stretch;
}
.fieldset {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	width: 50vw;
	gap: 8px;
	margin-bottom: 20px;
	align-content: center;
}

input[type="text"], textarea {
	border: 1px solid #121212;
	border-radius: 0px;
	font-size: 16px;
	padding: 8px;
}
input[type="text"]:focus, textarea:focus {
	outline: -webkit-focus-ring-color auto 0px;
	outline: 1px solid #121212;
}
input[type="file"] {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

a {
	font-weight: 580;
	padding: 16px 20px;
	color: rgb(0, 68, 205);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
